/* fallback font for Avenir Next LT Pro Regular (normal - 400) */
    @font-face {
      font-family: "avenir-next-lt-pro-regular-normal-400-fallback";
      size-adjust: 102.2%;
      src: local("Arial");
    }

    /* fallback font for Avenir Next LT Pro Bold (normal - 400) */
    @font-face {
      font-family: "avenir-next-lt-pro-bold-normal-400-fallback";
      size-adjust: 108.991%;
      src: local("Arial");
    }

    /* fallback font for Avenir Next LT Pro Demi (normal - 400) */
    @font-face {
      font-family: "avenir-next-lt-pro-demi-normal-400-fallback";
      size-adjust: 103.741%;
      src: local("Arial");
    }

