    @font-face {
      font-family: "Avenir Next LT Pro Regular";
      src:local("Arial"), 
           url("../fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
           url("../fonts/AvenirNextLTPro-Regular.woff") format("woff");
      font-weight: normal;
      font-style: normal;
    }
    
    @font-face {
      font-family: "Avenir Next LT Pro Bold";
      src: local("Arial"),
           url("../fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
           url("../fonts/AvenirNextLTPro-Bold.woff") format("woff");
      font-weight: normal;
      font-style: normal;
    }
    
    @font-face {
      font-family: "Avenir Next LT Pro Demi";
      src: local("Arial"),
           url("../fonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
           url("../fonts/AvenirNextLTPro-Demi.woff") format("woff");
      font-weight: normal;
      font-style: normal;
    }
